[2016-10-30 12:19] sachaos opened #1 "Demo Image for README.md"
# add task

![addtask](https://cloud.githubusercontent.com/assets/6121271/19836528/6ed99956-9ee6-11e6-85b0-7539393d803b.gif)
# close task

![closetask](https://cloud.githubusercontent.com/assets/6121271/19836531/7c399218-9ee6-11e6-974c-9dd59ced13a5.gif)

[2016-10-31 02:44] #1 closed

[2016-11-22 17:17] Kimau opened #2 "Sync Issue due to int size"
Looks like some data structs need to be upped to int64

[2016-11-23 15:21] sachaos commented on #2
@Kimau Thanks for the report.
I added this problem to my todoist. 😃
If you have time, call the Todoist API directly, grep the contents of the response with that number, do not tell me what value?

[2016-11-23 16:17] Kimau commented on #2
`"live_notifications": [{
		"project_name": "Book",
		"created": ####,
		"is_deleted": 0,
		"seq_no": ###PROBLEM NUMBER####,
		"notification_key": "share_invitation_accepted_#####",
		"notification_type": "share_invitation_accepted",
		"invitation_id": #####,
		"project_id": #####,
		"id": 2968714,
		"from_uid": ####
	}]`

So it looks like live notifications seq_num

[2016-11-24 01:05] sachaos commented on #2
@Kimau Thank you for your investigation. I fixed it. 😄
If you still have problems, please let me know.

[2016-11-24 01:05] #2 closed

[2016-11-24 15:15] sachaos commented on #1
<img width="884" alt="colorimage" src="https://cloud.githubusercontent.com/assets/6121271/20603278/2261b424-b2a4-11e6-8fa7-d533e2144942.png">

[2017-01-02 13:45] sachaos commented on #1
![todoist](https://cloud.githubusercontent.com/assets/6121271/21590209/152642a4-d13d-11e6-96d0-3a36336f0775.gif)

[2017-05-04 00:28] Sorbing opened #4 "Not working add task by hotkey"
I have a problem when try app tasks by hotkey, `todoist add` returns the code 127. What does this mean? When I run the bash script from the console/shell - everything works fine.
[code]
Thanks.

[2017-05-04 07:58] Sorbing commented on #4
Oh sorry.. I fiound a problem - I had to add GO bin path to system PATH variable:
[code]

[2017-05-04 07:58] #4 closed

[2017-05-04 08:00] sachaos commented on #4
@Sorbing Its OK. 😄

[2017-05-04 21:03] yanfali opened #5 "peco-todoist-date: gnu date is incompatible with bsd date"
Hi @sachaos

Awesome tool. I've been trying to use todoist_functions.sh but ran into trouble with ^xtd bindings with peco-todoist-date. It's using the bsd variant of `date` which supports `-v`. The gnu variant has `--date` and the format is similar but different. I added the following to my version, but I think there's probably a better way as they are only differ in one parameter.

[code]

[2017-05-05 02:41] sachaos commented on #5
@yanfali
Thanks issue.

I fixed it by DRY approach. https://github.com/sachaos/todoist/pull/6
Try it! 👍

[2017-05-05 12:37] #5 closed

[2017-05-05 21:15] yanfali commented on #5
Works for me. Thank you!

[2017-05-17 12:57] maurelian opened #7 "Find failed"
After installing, and adding my Todoist API key, `todoist list` has empty output. `todoist add` and `todoist sync` both return something like this:

[code]

[2017-05-17 16:53] sachaos commented on #7
Thank your report.
I'll investigate the problem.

[2017-05-17 17:31] sachaos commented on #7
@maurelian
The problem seems some task have invalid project ID.
It seems cause from sync error or something.

I fixed the problem by accepting invalid project id.
Might you try adapting this patch? #8

If this patch solve your problem, I'll merge to master.

[2017-05-18 02:47] #7 closed

[2017-06-12 07:21] nielsk opened #10 "Display month with leading 0"
Months are afaik usually displayed with a leading zero when using "date". Like this: 17/06/12
todoist shows it like 17/6/12 - therefore you cannot do something like this: todoist l | fgrep `date +"%y/%m/%d"` (that's the syntax on FBSD). It would be great if you could display months like this or at least offer an option. Then one can add simple aliases for displaying tasks due "today" or "tomorrow"

[2017-06-12 15:27] #10 closed

[2017-06-12 15:35] sachaos commented on #10
@nielsk Thanks you for your feedback.
I think it is most important in this product, how easy it is to integrate with UNIX tools.
So I fixed it on #11.
Thanks.

[2017-06-12 16:00] thefotios opened #12 "unrecognized import path "context""
With a completely clean `GOPATH` I get the following error:

[code]

Attached is the output if it helps as well as information about my `go` environment

[code]

[output.txt](https://github.com/sachaos/todoist/files/1068753/output.txt)

[2017-06-12 16:06] thefotios commented on #12
It appears that this package was added in Go 1.7, so there may not be a way to workaround it, but at least the minimum version could be documented.

[2017-06-13 00:43] sachaos commented on #12
@thefotios Thank you for your feedback.
Yes, This product require Golang 1.7 from v0.9.0.
I added note to README (https://github.com/sachaos/todoist#install) about requiring golang version.

[2017-06-13 00:43] #12 closed

[2017-06-13 06:18] nielsk commented on #10
Great, thanks a lot :)

[2017-06-25 07:28] nielsk opened #13 "How does modify work?"
How does modify work?
For example I have a task that is due today and I want to move it to tomorrow. Thus I expected I just had to do this:
`todoist m 2238698186 -d '26/06/2017'`

But this doesn't work and only fails silently (task is still due today).

[2017-06-25 07:54] nielsk commented on #13
Ok, it seems to work for projects, thus I guess this is a bug.

[2017-06-25 09:38] sachaos commented on #13
Thanks for your bug report.
I'll fix this bug.

[2017-06-25 14:07] sachaos commented on #13
It seems a bug of Todoist API.
When I called API with curl, it failed too.

There are same issue on official API repository.
https://github.com/Doist/todoist-api/issues/31

[2017-06-25 14:16] nielsk commented on #13
Oh, ok. Then we have to wait apparently that it is fixed on Todoist a side.

[2017-07-05 16:22] sachaos commented on #13
@nielsk This problem was solved!
I'm closing this issue.

[2017-07-05 16:22] #13 closed

[2017-07-29 14:59] ocelotsloth opened #14 "Harsh error handling on nonexistent task id"
The error handling could stand to be a bit more graceful than a full panic when you give an invalid task id.

Demonstrated below:
[code]

[2017-07-31 16:02] sachaos commented on #14
@ocelotsloth Thank you for your feedback.
Yes, I think so too.
I'll fix it soon.

[2017-08-06 03:07] goldcaddy77 opened #15 "Adding filters to `list`?"
Hi, have you thought about adding filters to `list` so that you could query for just `p4` tasks or filtering by name?  Or do you just expect that people will filter using the command line?

[2017-08-07 16:30] sachaos commented on #15
@goldcaddy77 Yeah, you are right. Initially, I thought that using grep was enough. However, recently I think that filter option will make this more useful.
What do you think?

[2017-08-07 18:18] goldcaddy77 commented on #15
I think it would be a nice addition.  Anybody else?

[2017-08-08 08:44] jmburges commented on #15
Definitely worth it! The biggest one being date based filters.

[2017-08-08 16:20] sachaos commented on #15
Thank you for your opinion. I'm happy.
It's nice using official filter query syntax.
https://support.todoist.com/hc/en-us/articles/205248842-Filters

I want to implement this as soon as possible.
But now, I'm busy with my day job, so it may take a while.

[2017-08-08 19:53] goldcaddy77 commented on #15
No worries - thanks for your work on the project 👍

[2017-08-08 20:12] jmburges commented on #15
Agreed! I know some go...Maybe I'll give it a shot :)

[2017-08-09 00:36] sachaos commented on #15
PR welcome!

I would like to implement the filter feature by parsing the received filter query, converting it to AST, and evaluating if the item matches the query.
We are also looking for other methods of implementation.

[2017-08-22 01:33] scottpham opened #16 "Is it required to use zsh to use this CLI?"

[2017-08-22 02:14] sachaos commented on #16
@scottpham No, you can use this command in other shell.
But, if you wish to use some keybindings with `todoist_functions.sh`, you need to use zsh.

Please read here.
https://github.com/sachaos/todoist#use-with-peco

[2017-08-22 17:45] scottpham commented on #16
Oh I see! My problem was that I hadn't installed Go before this, so my GOPATH's bin wasn't on my path. Added that, and now I can access the `todoist` command

[2017-08-22 17:45] #16 closed

[2017-08-30 22:02] Jayphen opened #17 "How to use date keybinding?"
I do not quite understand how to use the keybinding for date.

When I use the binding, it simply shows a peco query search field but with no items in the results to filter from.

When I hit return (with nothing selected), I get:

`peco-todoist-date:10: no matches found: -I#`

[2017-09-03 16:45] sachaos commented on #17
@Jayphen What is your OS & shell?
Please also tell me the version.

[2017-09-03 17:22] Jayphen commented on #17
`zsh 5.4.1 (x86_64-apple-darwin17.0.0)`

macOS 10.13 (beta)

[2017-09-10 15:01] #14 closed

[2017-11-02 08:33] matthiasfromm opened #22 "Configuration .zsrhc for use with peco keybindings"
I have trouble to properly setup peco and the keybindings. I don't really have much experience with command line tools, so I'm not sure what to put inside the .zshrc file.

I assume I have to put

`$ source "$GOPATH/src/github.com/sachaos/todoist/todoist_functions.sh"` ?

Would be happy to get some support here.

Thanks in advance!

[2017-11-03 19:28] sachaos commented on #22
@matthiasfromm Yes. You should load todoist_function.sh script by `source` on `.zshrc` .

[2017-11-06 08:53] matthiasfromm commented on #22
Hi @sachaos !

Thanks for your reply. Any configuration of my `.zshrc`file does not work to finally use peco with todoist (yes, I did switch from bash to zsh first).

Could you post an example of how the `.zshrc` should look to load the script? Thanks!

[2017-11-06 10:50] sachaos commented on #22
@matthiasfromm
How did you install todoist command?
If you installed by homebrew, `todoist_function.sh` might not exist under `$GOPATH`.
In this case, the most simple solution is to write https://github.com/sachaos/todoist/blob/master/todoist_functions.sh content in `.zshrc`.
I don't know how to detect file path which downloaded by homebrew, but you can load from that file too.

[2017-11-07 17:13] Lindenk opened #23 "Use $XDG_CONFIG_HOME for storing .todoist.config.json if set"
Not a big deal, but it would be nice to keep config files together and be standardized with most other *nix tools.

EDIT: Also using $XDG_DATA_HOME for .todoist.cache.json would be preferable too.

[2017-11-09 14:47] sachaos commented on #23
@Lindenk Thank you for your feedback!
I didn't know $XDG_DATA_HOME.
I'll reconsider the location of the config file.

[2017-11-09 15:33] sachaos commented on #22
@matthiasfromm
May be, the problem is that you are using wrong keybindings.
Please operate as follows.

# 1. Set task name.

On the terminal, input like below.

`todoist add "test task"`

# 2. Enter Project select screen, and select project.

After entering the command above, enter the project selection screen (Query mode) by the following key binding with the cursor on the right side (without pre

[2017-11-13 19:41] matthiasfromm commented on #22
@sachaos That did the trick! Seems like my problem in the end was that I wasn't aware of how to enter the project select screen, even though you did provide the [keybindings](https://github.com/sachaos/todoist#keybind). But the more elaborate instructions above did help!

Thanks for your support!

[2017-11-13 19:41] #22 closed

[2017-11-19 23:55] garyng opened #27 "Anyway of using it under Windows?"
Anyway of using this under Windows? (with peco and keybindings etc?)

[2017-11-24 08:25] kendocode opened #28 "Error message on install: ./quick.go:16:8: client.QuickCommand undefined (type *todoist.Client has no field or method QuickCommand)"
Hi, this looks super cool and I'd like to try it, but I got the above error on installing. I believe the install was correct -- my workspace is ~/.go vs the usual ~/go, but my path is properly modified and other Go stuff works. Unfortunately, I'm just starting with Go and am not able to diagnose the error. Any help or advice you might offer would be much appreciated and diligently acted upon.

If

[2017-11-27 02:18] fabiozc commented on #17
I'm also lost on this. I already have peco installed and the todoist_functions.sh is already being called correctly. But what about that Peco function?!

[2017-12-06 04:02] strangeman opened #29 "[Feature Request] completed-list improvements"
Thank you for the great tool!
Main reason because I use the Todoist CLI client is the confusing `Completed tasks` interface. Your client almost perfectly fits my needs. But I suggest some improvements:

1) Shortcut for `completed-list` command (`cl`, for example).
2) `--filter` option. I often want to look what I did today or yesterday.

Currently, I added this features with bash aliases for mysel

[2017-12-06 04:08] strangeman commented on #29
My aliases FYI:
[code]

[2017-12-06 07:43] sachaos commented on #29
LGTM 👍

[2017-12-06 07:46] sachaos commented on #27
I don't have Windows.
Are there any problem on running under Windows?

[2017-12-06 15:33] garyng commented on #27
The cli itself is awesome and works flawlessly 👍 👍 👍
The problem lies within `peco` and those `key bindings` for `zsh`, they are super cool and Windows user can't have them 😢
So, I am asking whether there are any possibilities to integrate some of the features of `peco` (like live-filtering/selecting/etc) into the cli itself (and key bindings as well)?

Thanks!

[2017-12-08 11:32] strangeman opened #30 "`make test` fails"
[code]
I cloned the repo, launched `make test` and it fails. Why?

[2017-12-11 08:26] sachaos commented on #30
It's strange.
In my environment, test works correctly.
What is your go version?

[2017-12-11 08:32] strangeman commented on #30
`go version go1.8 linux/amd64`
Maybe I should provide specific Todoist API Token or somewhat else?

[2017-12-11 09:23] sachaos commented on #30
I understood.
The problem come from timezone.
The datetime specified in test is JST, but test depends on local timezone.
I'll fix it.

[2017-12-11 09:25] strangeman commented on #30
Thank you!

[2017-12-11 12:10] #30 closed

[2017-12-11 12:12] sachaos commented on #30
@strangeman I fixed test by fix timezone.

[2017-12-11 16:04] sachaos commented on #29
This issue solved by #31 .
Thanks @strangeman :tada:

[2017-12-11 16:04] #29 closed

[2017-12-13 06:23] yezsaysme opened #33 "After install and inputting API token, app list 0 tasks"
Difficult to debug the issue to see if the token was input wrong or there is a bug. First step is to check the API token is correct. Where is this stored?

[2017-12-13 06:52] sachaos commented on #33
API token is stored in `~/.todoist.config.json` .

[2017-12-13 07:07] yezsaysme commented on #33
Thanks, I checked the config and the api is entered correctly. 'todoist l' displays nothing (should show 3 tasks at the moment). Any other ideas to debug?

[2017-12-13 07:16] sachaos commented on #33
See `~/.todoist.cache.json`, all items are cached here.
If there are no items, you should sync with todoist.com.
Please run `todoist sync` command.

[2017-12-13 07:22] yezsaysme commented on #33
Ah, working now. Thanks for assistance!

[2017-12-13 07:22] #33 closed

[2017-12-26 21:00] tengufromsky opened #34 "Edit personal API token"
I think that it is necessary to add the ability to change the API token if the current one is not valid.

[2017-12-27 00:38] sachaos commented on #34
Thank you for your feedback.
I reconsider about that.

[2017-12-27 01:08] dylan-k commented on #34
Is it possible to uninstall and reinstall or something as a workaround for this? If so, what's the best way to do that?

[2018-01-10 20:07] childerico opened #36 "Build fails: multiple-value uuid.NewV4() in single-value context"
I tried to build the `todoist` package available for Arch Linux. It fails with the following error:
[code]
I am using Go 1.9.2.

[2018-01-11 07:42] sachaos commented on #36
@childerico
It seems that [go.uuid](https://github.com/satori/go.uuid) changed interface.
The AUR's build script does not manifest library version, so fetch the latest version of go.uuid, then the error happened.

The latest version of this project is using `dep` as package manager, and manifest library version.
So now, you can install command by build yourself instead of using AUR's package.
http

[2018-01-12 20:46] childerico commented on #36
I flagged the package on the Arch user repository as outdated. I hope that the build script will be updated soon. In the meantime, I tried to build the project manually, but it fails with a different error:

[code]
What am I doing wrong?

[2018-01-13 08:22] sachaos commented on #36
@childerico It's strange. Are you executed `make install` surely?

[2018-01-13 09:03] childerico commented on #36
Yes, I just cloned the repository in `mygopath/src` and run `make install`. I cannot post the full output at the moment, but the only things printed before the error were related to `dep ensure` and `goyacc`.

[2018-01-14 05:00] sachaos commented on #36
@childerico OK, I found the problem.
You should clone in `$GOPATH/src/github.com/sachaos/todoist`.

[2018-01-14 10:00] childerico commented on #36
Thank you very much! That was my fault. Since the other problem with the Arch Linux package depends on the build script to be updated, I close the issue.

[2018-01-14 10:00] #36 closed

[2018-01-16 08:31] strangeman opened #37 "Todoist-cli crashes with wrong filters"
[code]

[2018-01-16 09:52] sachaos commented on #37
I merged The PR!
Thank you! 🎉

[2018-01-16 09:52] #37 closed

[2018-01-22 00:27] sachaos commented on #28
OK. I’ll investigate.

[2018-01-22 09:27] sachaos commented on #28
@kendocode @Awesomecase OK, I found the problem. Sorry to late.

It would be same this problem. https://github.com/sachaos/todoist/issues/36#issuecomment-357420147
You should clone in `$GOPATH/src/github.com/sachaos/todoist` and build with `make install`.

[2018-01-22 16:00] Awesomecase commented on #28
You're right, that worked. You should change the documentation to reflect that necessity.
Thanks a lot, I appreciate it.

[2018-01-23 00:22] #28 closed

[2018-02-19 11:13] TechIsFun commented on #34
A workaround can be manually editing the file ~/.todoist.config.json

[2018-02-22 21:15] kostajh commented on #33
@sachaos it might be worth adding to the README. I was about to file a bug report, as I couldn't figure this out.

[2018-02-23 01:31] sachaos commented on #33
@kostajh Thank you for your feedback.
I added help about `sync`. #42

[2018-02-27 13:37] kostajh opened #43 "Specify --color in global config?"
Hi, I might be missing something obvious but I don't see how to default to `--color` for all my commands? I tried setting `"color": true` the config JSON, but that's not working. Could you please point me to the docs for that? Thanks!

[2018-02-27 23:52] strangeman commented on #43
As I see, there is no way to set `color: true` in config. This is will be a good improvement.

[2018-02-28 00:37] sachaos commented on #43
Shell alias would be satisfy the requirement.

in your, .bashrc or .zshrc
[code]

[2018-03-10 04:56] sachaos commented on #43
And merged #44
So I close this.

[2018-03-10 04:56] #43 closed

[2018-03-29 13:10] mountwebs opened #45 "How to add todoist_functions?"
First of all, this is great software! However, it would make it a lot better with peco-functionality, and I can't seem to make it work. I have installed Peco. When I try to add todoist_functions.sh to .zshrc I just get this error:

[code]

Help is much appreciated!

Ps. I'm on a mac.

[2018-03-29 13:57] sachaos commented on #45
@mountwebs Thank you!

You are using bash, use zsh, please.

[2018-04-04 22:07] erikw commented on #15
I think filter by Project should be prioritized, it's the filter I would use the most often!

[2018-04-11 02:32] #45 closed

[2018-04-12 08:26] mountwebs commented on #45
Thank you! You are of course correct.

[2018-04-13 03:12] sachaos commented on #15
OK, I'll implement this.

[2018-06-03 14:02] Jestre opened #46 "Compatible with oh-my-zsh?"
I just discovered this, and instaledl both it and `peco` with `Homebrew` this morning.  A couple questions:

Is it possible to include the `todoist_functions.sh` file in the pieces installed via Homebrew?  That would make it easier to `source` and track.

Regardless, I downloaded it and put it in /usr/local/share/todoist/.  I added the `source /usr/local/.../todoist_functions.sh` line to `.oh-my-z

[2018-06-05 20:53] jbwiv opened #47 "Closing more than anticipated?"
I've dabbled with Todoist in the past, but finding this command line utility really makes it viable to my workflow. Thanks for your work on this!

I may be missing something, but in my tests, I think "todoist close" may be doing more than it should. For example:

`➜  todoist git:(master) todoist l
45023248   p1               #Inbox     Order cat6
45023291   p1               #Inbox     Pick up ladd

[2018-06-06 01:38] sachaos commented on #46
@Jestre I'm not oh-my-zsh user. So I'm not familiar with that.
Try to put whole code of `todoist_functions.sh` in `.oh-my-zsh/custom/todoist.zsh`not by `source`.
Or please check your todoist.zsh is loaded correctly by printing debug message by `echo` command.

[2018-06-06 01:52] sachaos commented on #47
@jbwiv Thank you for your reporting issue.
I have not seen the situation.

Can you find those erased tasks in completed task list?

[2018-06-06 12:51] Jestre commented on #46
@sachaos Thanks for the reply.  I added an `echo` to ensure that the custom file was being processed, and that worked.  Also, while reading up on completions (are these technically completions, or just some kind of keyboard mapping functions?) I saw that oh-my-zsh calls `compinit` automatically when it is loaded, so all completions need to be added to the `.zshrc` file prior to o-m-z being called.

[2018-06-07 12:35] sachaos commented on #46
@Jestre  Thank you for reporting.
I'll check the problem of working with o-m-z, if I have time.
Please report again, if you solved the problem.
Thank you.

[2018-06-07 19:04] Jestre commented on #46
Well I don't know if I did anything in particular to cause it to start working, but after applying the iTerm2 update today this function started working, so I will close this ticket.  Thanks for the responses.

Now to figure out why `color` in the config.json file isn't working :)

[2018-06-07 19:04] #46 closed

[2018-06-08 03:36] LvChengbin opened #48 "Got error while installing with homebrew"
I got this error message while executing `brew install todoist`, and how can I fix it?
[code]

[2018-06-12 03:44] scottpeterson opened #49 "Priority labels are backwards?"
I believe within Todoist p1 = highest priority, down to p4 = lowest.

On the CL Todoist, 'todoist list --filter p1' shows me my p4 labeled tasks, and 'todoist list --filter p4' shows me my p1 labeled tasks.....

[2018-06-17 00:44] yyolk commented on #49
I'm also seeing this, but apparently this is a quirk with the API.

From https://developer.todoist.com/sync/v7/#items

[code]

On my fork I've made a branch that shows this to me in the listing so I remember to remap, maybe someone get better implement this so as a user you still think of `!!1` as your high priority

[2018-07-11 20:30] hmnd opened #51 "AUR Package"
Hello @sachaos,
I have created an AUR package for this project that uses the master branch as its source instead of the releases. Please consider adding https://aur.archlinux.org/packages/todoist-git/ to your README, so users of Arch can see that they have an option to install this project more easily.

Thanks.
DR

[2018-07-25 09:16] claviola opened #53 "Can't build on Ubuntu 18.04"
This is my attempt to build:

[code]

[2018-08-22 15:15] 0atman commented on #15
just a note that I missed filtering by @labels today <3

[2018-09-05 22:58] dylan-k opened #54 "CSV file has no headers"
when using the ``--csv`` flag, the resulting file has no headers. Expected behavior would be for the first row of the csv file to name each column of data.

[2018-09-12 04:17] erikc96 opened #55 "Make Install | Recipe for target 'prepare' failed"
# Steps to reproduce:
* Clone repository
* Run 'Make install'

# Observed result:
``
 make install                                                                                                                                                                                                                   root@Albuntu dep ensure
make: dep: Command not found
Makefile:11: recipe for target 'prepar

[2018-09-12 04:53] sachaos commented on #55
@erikc96 You need `dep` command https://github.com/golang/dep

[2018-09-13 19:46] #55 closed

[2018-09-13 19:46] erikc96 commented on #55
Thanks!

[2018-09-25 08:59] sachaos commented on #54
@dylan-k I added this feature by `--header` option. #56

[2018-09-25 08:59] #54 closed

[2018-09-25 09:05] sachaos commented on #51
I added link on README. Thank you

[2018-09-25 09:05] #51 closed

[2018-09-25 18:00] sachaos commented on #15
I implemented project filter in https://github.com/sachaos/todoist/pull/57

[2018-09-25 21:47] 0atman commented on #15
Amazing! Thank you :-) Going to re-install and play around

[2018-09-25 21:59] 0atman commented on #15
oh, not `@labels` yet? not to worry - thank you for project filtering!

[2018-09-26 02:58] sachaos commented on #15
@0atman I implemented label filter in #58 (v0.12.0). Please try it!

[2018-09-26 08:39] 0atman commented on #15
@sachaos it works! Thank you! <3

[2018-10-20 09:50] s3cy opened #59 "sha-1 id?"
Great tool. Thanks for making it.

Can we sha-1 the content and replace the value with the current `id` field? (like what `git` does.) The current ids look so damn similar. It is frustrating to enter something like 385373XXX every single time.

[2018-10-20 11:54] strangeman commented on #59
Get some shortcuts are a nice idea, like it.

[2018-11-08 15:45] chrisshroba opened #60 "Is there a way to remove a due date from a task from this CLI?"
I've tried the following:

[code]

Is there any way to remove a due date from a task?

[2018-11-08 16:07] chrisshroba commented on #60
I found the "null" due date in the source code, but it still has a bug: After marking a task's due date as null, it shows as having no due date in the web UI, but this todoist CLI still shows it having a due date, equal to the last scheduled due date at 23:59:
![image](https://user-images.githubusercontent.com/5503282/48210898-2b0b6280-e32d-11e8-9368-367fbe118050.png)

The web UI shows the history

[2018-11-14 06:26] garrettjj opened #61 "multiple-value uuid.NewV4 Makefile error"
When attempting to install on my Fedora 29 install, I'm receiving the following error:

[code]

I've taken note from issue #36 and ensured that I'm building in the right folder although I'm sure this is likely a dumb mistake on my part since I'm running this tool perfectly on another Fedora 29 install and a Debian WSL instance.

Thanks for the great tool and thanks for any time.

[2018-12-21 03:04] jashank opened #62 "Changing the output format of `todoist list`"
The output format produced by `todoist list` is frustratingly wide, given any combination of long due dates, nested projects, and/or lots of labels. It would be useful to be able to change the output format, by reordering, omitting, or restricting the width of fields.

(For example, before I fiddled with my task list in an attempt to make it narrower, it was ~300 columns wide; I've now got it down

[2018-12-22 05:43] sachaos commented on #61
@garrettjj Now, this project should be build with Go 1.11 or above.
What is your Go version?

[2018-12-22 05:45] sachaos commented on #53
@claviola Now, this project should be build with Go 1.11 or above.
What is your go version ?

[2018-12-22 05:48] sachaos commented on #48
It seems that network connection error.
Please retry.

[2018-12-23 02:03] garrettjj commented on #61
Apologies for not including that originally. It appears that I'm running 1.11.2.

➜  ~ go version
go version go1.11.2 linux/amd64

Oddly enough, this works smoothly on two other systems. One of them is even running the same flavor of Linux (Fedora) and the same dotfiles.

[2019-01-05 07:57] rounakj commented on #53
go version go1.9.3 linux/amd64

[2019-01-17 14:46] colinricardo opened #63 "Filter error: syntax error"
Hi, thanks for the cool CLI :)

I'm having an issue:

`todoist list --filter '@follow-up'` fails, but if I change the label in the GUI then do:

 `todoist list --filter '@followup'`

it works fine.

Do you know if I need to escape the `-`, or otherwise how to make this work as intended?

Relatedly, `todoist list --filter '7 days'` is also failing, though it was working before.

Thanks!

[2019-01-19 09:15] hokorobi commented on #61
I think this is the same cause.
https://github.com/hlandau/acme/issues/293

[2019-01-20 08:04] hokorobi commented on #61
Oh, maybe set `GO111MODULE=on`.

[2019-01-21 08:46] sachaos commented on #61
This issue would be fixed by #65

[2019-01-21 08:46] #61 closed

[2019-01-21 08:48] sachaos commented on #48
homebrew-todoist was updated.
So, this issue would be fixed.

[2019-01-21 08:48] #48 closed

[2019-02-05 09:59] ronilaukkarinen opened #66 "Make install fails on Fedora 25"
[code]

go version go1.7.6 linux/amd64

[2019-02-07 05:21] cweagans opened #67 "Interest in a GTK GUI?"
I'm thinking about building a real GUI on top of this. Would you be interested in integrating it here? Or would you prefer that it lives in a separate project?

[2019-02-07 05:39] sachaos commented on #66
@ronilaukkarinen Hi, please use go 1.11 https://github.com/sachaos/todoist#build-it-yourself

[2019-02-07 05:49] sachaos commented on #67
@cweagans I'm interesting in building a GUI using this. 😄
But, this project wants to focus on running on terminal.
So I prefer that it live in a separate project.

[2019-02-08 13:33] ronilaukkarinen commented on #66
Oh, I thought **minimum** version is 1.11. But, installed 1.11 now and getting this:

[code]

[2019-02-11 14:56] wizeman commented on #60
I'm experiencing the same problem...

[2019-02-12 08:12] SCdF commented on #59
An alternative to this would be what TaskWarrior does:
 - There is an internal id that is giant and you can refer to it if you want to
 - But there is a mapping between the giant id and a small id, which is what is displayed and is 100x easier to use
 - These ids start from 1, and whenever you need to generate one you use the next available smallest id.
 - This means that these smaller ids get reu

[2019-02-12 19:47] #67 closed

[2019-02-12 20:04] cweagans opened #68 "Due dates are broken sometimes"
Splitting this off from #60 where @chrisshroba pointed out that due dates are broken for any task that used to have a due date.

Steps to reproduce:

1. In the todoist UI, create a task "Test task".
2. `todoist sync`
3. Observe correct entry in `~/.todoist.cache.json` (no due date):

[code]

4. Add a due date to the task in the todoist UI
5. `todoist sync`
6. Observe that the due date is correctly

[2019-02-12 20:08] cweagans commented on #68
One more bit of info:

If I go in and edit the `due_date_utc` entry for "Test task" and set it to an empty string, then `todoist sync` again, the `due_date_utc` entry isn't getting repopulated from Todoist.

[2019-02-13 18:32] cweagans commented on #68
My current workaround for this is to just blow away the entire cache and re-sync it. The dates are correct if I do that.

[2019-02-15 11:37] vascowhite commented on #66
I'm also having the same issue on Debian Stretch:

[code]

    go version go1.11.4 linux/amd64

Output from `uname -a`

    Linux pw-acer-debian 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux

Any ideas?

[2019-02-19 00:40] mljli commented on #66
[code]
Ref: https://stackoverflow.com/questions/51910862/how-do-i-configure-goland-to-recognize-mod-packages

[2019-03-15 21:00] wizeman commented on #68
I think PR #70 which I just submitted should fix this issue.

[2019-03-15 21:02] wizeman commented on #60
Assuming you are referring to issue #68, I think PR #70 which I just submitted should fix that issue.

[2019-03-16 12:01] #68 closed

[2019-03-21 19:01] buckmaxwell opened #71 "When adding a new task, can a due date be set?"
I'm sorry, perhaps this is obvious. Is there a way to set a due date on tasks added through the cli?

[2019-04-15 18:25] colinricardo commented on #63
not solved but closing anyway

[2019-04-15 18:25] #63 closed

[2019-04-17 15:05] zYeoman opened #73 "Any plan to release binary executable file？"
Build failure because of network issue....

[2019-05-19 22:33] MikeSperone opened #75 "Plans to update to API v8?"
I'm seeing that this project is using the todoist API v7:
https://github.com/sachaos/todoist/blob/master/lib/main.go#L15

Todoist is saying that v7 is deprecated and will be removed on July 31st - just over 2.5 months from me opening this issue:
https://developer.todoist.com/sync/v7/

Are there any plans to update to the todoist v8 API?  Or will this project be dead on August first?

[2019-05-20 02:14] sachaos commented on #75
Thank you.
I didn't know that.
I'll handle this.

[2019-05-22 16:48] mbbroberg opened #76 "Unable to export with `--csv`"
Hi! Thank you for this incredibly helpful utility. I use it on a regular basis 😄

I want to export `todoist list` as a CSV and I receive an error:

[code]

Is this expected? About environment:

* MacOS
* Bash or zsh (I tried both)
* todoist version 0.13.0

And again, thank you for your work!

[2019-05-23 06:14] sachaos commented on #76
@mbbroberg `--csv` is global option so it must be put before subcommand.

e.g. `todoist --csv list`

[2019-05-24 15:51] augustgerro opened #77 "Add ability to move tasks to new project"
Becouse of limints 300 tasks per project its very common case to move pack of tasks from one project to anouther.

For example:
- By default all tasks created in Inbox project, so over time, the free space on this project ends quickly.
- when the tag is growing and going a separate issue, I want all tasks with that tag to be moved to a new project
- or many other examples

Now to do all this you n

[2019-05-28 07:46] #76 closed

[2019-05-30 19:21] mbbroberg commented on #76
Ah, makes sense. Excuse the delay - thank you @sachaos for clarifying!

[2019-05-31 06:28] nielsk opened #78 ""todoist list" is empty"
When I use todoist nothing gets returned
[code]
I already issued a new API-token
todoist version 0.13.1

[2019-05-31 10:36] sachaos commented on #78
@nielsk Did you run `todoist sync` ?

[2019-06-01 07:33] nielsk commented on #78
Thanks, that was it. Sorry for bothering you.

[2019-06-01 07:33] #78 closed

[2019-06-12 20:24] adam-lee opened #79 "Listing items in the "Today" view?"
Sorry if this has been described somewhere.
I can run the list command to list all the open items, but a lot of times I *just* want to look at what I have to do *today*. I was hoping to see Today as a project, but it's not there. Is there a convenient way to do this? Thanks!

[2019-06-13 01:07] sachaos commented on #79
@adam-lee You can list all today's tasks by `todoist list --filter today`.

[2019-06-13 01:45] adam-lee commented on #79
@sachaos I feel so dumb. Don't know how I missed that ;)

[2019-06-13 01:45] #79 closed

[2019-06-23 02:58] dotrosedotnet opened #82 "./main.go:20:23: undefined: os.UserHomeDir"
I'm on Ubuntu 16.04. I've been really excited to get this up and running, and have tried an awful lot today. I got it working in Docker, but I need it working natively to incorporate it into my workflow.

I finally got a whole bunch of it installed, but then it terminated with this error.

Any idea what could be causing this?

go version outputs:

go version go1.11.11 linux/amd64

I tried go 1.2.2

[2019-06-23 08:43] sachaos commented on #82
@dotrosedotnet This software need go 1.12. https://github.com/sachaos/todoist#build-it-yourself

[2019-06-23 12:39] dotrosedotnet commented on #82
okay, now it's gone through the install process, but there's no todoist command. running todoist results in "command not found"

Thanks so much for your help. I don't know why I'm having so much trouble!

[2019-06-23 12:43] dotrosedotnet commented on #82
"which todoist" also results in "command not found"

[2019-06-23 12:48] dotrosedotnet commented on #82
nevermind, I got it!

[2019-06-23 13:25] #82 closed

[2019-06-25 12:45] adam-lee commented on #15
Not sure if this is the right place to ask, but is wildcard supported? For example, @home* to filter labels with homework and home?

[2019-06-25 13:04] 0atman commented on #15
Try it out, then if it doesn't work, raise a separate issue?

On Tue, 25 Jun 2019, 13:45 Adam Lee, <notifications@github.com> wrote:

[2019-06-25 13:19] adam-lee opened #83 "Wildcard in filter doesn't work for labels (and possibly for others)"
Using wildcard should be possible according to the [Todoist documentation](https://get.todoist.help/hc/en-us/articles/205248842-Filters). The client unfortunately doesn't seem to be able to process it:

[code]

[2019-08-02 12:37] hrmJ commented on #71
This is unclear for me, too. If I just write "next week", it doesn't seem to get parsed to a date

[2019-08-05 08:53] vascowhite commented on #75
From the [Todoist docs](https://developer.todoist.com/sync/v7/#overview)

Is the change to v8 in progress?

I was thinking of installing this, but if it won't work after the end of this month, there isn't any point.

@sachaos, it would be a shame to abandon this, you've obvoiusly put a lot of time and effort into it and it looks like a great program.

[2019-08-05 10:09] sachaos commented on #75
@dsalahutdinov
I'm working on this now. I think it will be in time for the deadline.

[2019-08-05 10:09] sachaos commented on #75
@vascowhite
I'm working on this now. I think it will be in time for the deadline.

[2019-08-15 15:11] #75 closed

[2019-08-15 15:16] sachaos commented on #49
I fixed this in https://github.com/sachaos/todoist/pull/88

[2019-08-15 15:16] #49 closed

[2019-08-21 12:06] DrFelder opened #90 "Buffering / async command execution"
Hey, this is a feature suggestion; I hope this is ok ;-)

I have tested the tool for a while, it works great. There is one problem, though:
Compared to the web-UI provided by todoist, it is very slow. I haven't debugged the code yet, but I am 99.99% sure this problem arises from the API calls (the web-UI does this in the background).
This only really comes into play while creating issues, time and

[2019-08-22 08:47] sachaos commented on #90
@DrFelder Thank you for your suggestion.
Yes. I planned this feature at initial phase of this project, but I gave up the implementation because of lack of my resource.
But I think it will be great if the feature was implemented.

This is a design suggestion.
I think the easiest way to implement this feature is the server-client model.
How do you think about this design?

1. Start a server process

[2019-08-23 12:39] DrFelder commented on #90
I am currently overloaded with work; i have put this into my todos and will look into it next month or so; i have to finish my thesis first ;-)

[2019-08-23 22:54] lejeunerenard opened #91 "Segmentation violation"
Just installed `todoist` (built manually at 2a99599) and after entering my API token, I ran the `list` command and get the following error:

[code]

**Info**
- `go version go1.12.9 darwin/amd64`
- OS : OSX 10.11.6
- Built manually via go (though these errors happened via homebrew too)

Let me know if you need any other information! I have no experience with Go so do not know where to start debuggi

[2019-08-26 16:53] sachaos commented on #91
@lejeunerenard
Did you run `todoist sync` ?
The problem would be cause if there is no tasks. (Yes, I think it is not comfortable error message. I'll fix this.)

[2019-09-10 04:56] wolframite commented on #23
Any updates on this issue?

[2019-09-23 17:02] Hexawolf commented on #53
@rounakj

See, your Go version is too low. I'd suggest using Go 1.12 or higher as described [here](https://tecadmin.net/install-go-on-ubuntu/). After that, you can just execute `go get github.com/sachaos/todoist`, easy!

[2019-09-23 17:09] Hexawolf commented on #27
If we are talking about Windows 10, you may install [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) and start using Linux within your Windows installation right away!

By the way, VSCode integrates with WSL pretty well nowadays and allows you to run a [VSCode as server](https://code.visualstudio.com/remote-tutorials/wsl/getting-started) inside WSL, allowing you to develop for Lin

[2019-09-23 17:13] Hexawolf commented on #59
I'd suggest also considering naive text matching. Should not be hard to implement.

[2019-09-24 15:15] claviola commented on #53
I'd like to say that I no longer have building issues, however:

I'd suggest changing the ones in README.md, as cloning and running `make install` is not enough. I had issues with dependencies that I had to solve with `go get -u github.com/sachaos/todoist` (from *outside* the directory, for some reason). I think in the past this was handled by dep, but that doesn't seem to be the case anymore, rig

[2019-09-24 15:15] #53 closed

[2019-10-02 07:34] aleksandar-todorovic commented on #71
Yes, use `todoist <command> help` to see the flags (in this case, `todoist add help`).

In short: `todoist add "This is a test" -N "Personal" -d "next week" -L "test"` will add a task in the project named "Personal" that's due next Monday and has a label "test".

So, for your specific question, instead of doing `todoist add "This is a test tomorrow"`, do `todoist add "This is a test" -d "tomorrow"

[2019-10-02 13:21] buckmaxwell commented on #71
thanks!

[2019-10-10 18:37] 2mill opened #95 "410 Gone when running todoist s"
Hi, I am running into an issue where I am getting a 410 Gone Bad when I try to sync todoist CLI. Idk how to fix this myself.

[2019-10-11 15:28] wizeman opened #96 "`todoist modify` changes the priority even if it wasn't specified"
If I have a task with priority 1..3 (not 4) and then I run the command `todoist modify -d <date> <task-id>`, the priority will be changed to `4` (the default) even though I didn't specify the `-p` parameter to change the priority.

[2019-10-11 15:31] wizeman commented on #95
Which version are you using?
I think that if you update to `v0.14.0` (or to a newer commit), that problem should be fixed.

[2019-10-11 20:23] 2mill commented on #95
I'm sitting on 13.1 from the AUR package

[2019-10-14 17:43] wizeman opened #97 "`todolist list -f overdue` showing too many tasks"
It seems that `todoist list -f overdue` shows tasks that are not overdue yet.
Specifically, it shows tasks that are due today, unlike the official client.

[2019-10-14 17:44] wizeman commented on #95
@2mill Please try version 0.14.0, I believe it should fix your issue.

[2019-10-15 15:36] wleoncio commented on #95
Same problem here. It does seem to be caused by an [out-of-date package](https://aur.archlinux.org/packages/todoist). Issue solved by using the [`todoist-git` package](https://aur.archlinux.org/packages/todoist-git) instead, which is currently on version 0.14.0.

[2019-10-21 13:15] xdg opened #98 "panic when run without sync"
I didn't see at first that I needed to run `todoist sync`, so started with `todoist list` and got a panic:
[code]

I synced and the problem went away, but it's not a great first experience if someone misses the need to sync first.

[2019-10-27 13:51] drosan-dev opened #99 "dont work todoist sync"
![2019-10-25-133700_1024x600_scrot](https://user-images.githubusercontent.com/38549992/67635588-ff84dd80-f8d9-11e9-8183-e7c32c451bfd.png)

[2019-10-31 06:28] 2mill commented on #95
using todoist-git solved it, but for some reason it's still open

[2019-10-31 06:28] #95 closed

[2019-11-07 08:37] espositom221 opened #100 "todoist error on sync"
hi i try to use todoist, but i have this error
[code]

[2019-11-15 16:54] AurelienLourot opened #101 "Can't be built anymore, neither on host nor in docker, 'c.GlobalBool undefined'"
Hi, I have been using this tool for almost 2 years now, so thanks a lot! Unfortunately I can't built it anymore, neither on host (Ubuntu 18.04 with Go 1.12) nor in docker:

[code]

Any ideas?

[2019-11-23 09:06] dotcs opened #102 "Permissions of config file"
The config file, that holds the API key has by default permissions 0755, which is bad because other users on the system can read the file and steal the API token.

Steps to reproduce:

- Install application
- run `todoist sync` and enter API key
- Check permissions of file `~/.todoist.config.json`, which will be 0755

How to fix?
Permission 0600 is sufficient. The application should check this and

[2019-11-23 10:43] dotcs commented on #100
I guess you are working on a 32bit system, where the type `int` points to `int32`. `int32` covers numbers in the range `-2147483648` to `2147483647`. The project ID in your case is `2218992811`, which is out-of-bounds for the `int32` type.

A solution could be to switch to `int64`, which would cover numbers in the range `-9223372036854775808` to `9223372036854775807`.

See here for the number rang

[2019-11-23 10:47] dotcs commented on #99
Duplicate of #100. You might want to join the discussion there.

[2019-11-24 04:29] #101 closed

[2019-11-25 17:04] HaoZeke opened #105 "Rename to not conflict with the electron binary"
This is actually a very simple rename operation. I'd be happy to open a PR but I thought I should ask first. The idea is to prevent conflicts with [the electron wrapper](https://github.com/KryDos/todoist-linux). I have tested the rename operation locally `todoist-cli`.

Would this be ok? Should I open a PR? @sachaos

[2019-12-03 14:01] JovisFilius opened #106 "When due date includes a time it is not shown correctly in the cli"
When adding a new task with due date and time from the CLI, this task (with due date and time) is shown correctly in the todoist android app. However, on the CLI, this same task is shown without a due date at all.
Also, when adding a due date and time from the android app this does show up correctly on the CLI.
For clarity: due dates that do not include a time are handled correctly from both sides

[2019-12-07 19:11] sachaos commented on #100
@dotcs I understood.
I think it is better to specify the bit size of `int` .

[2019-12-13 16:26] thomasfedb opened #107 "Error during TestDateTimeFilter tests"
I'm currently packaging this project for Fedora, but need to get the tests running correctly first.

Running `make test` resulted in this output:

[code]

[2019-12-29 01:11] bdlangton commented on #98
I wondered what was going on. Thanks for this! I had the same panic, but no longer after I ran sync. I had used this app long ago, and I left it installed but went awhile without using it.

[2019-12-30 21:41] luukverhoeven opened #108 "Reopening closed tasks"
Is it possible to reopen a closed task from CLI? Or to get task information from a closed task?

[code]

[2020-01-06 05:53] MAWSpitau opened #109 "Can't install on ubuntu 19.10"
Hey there,

i tried to install this tool, but it does not work.

What am I doing wrong?

Thanks
MAW

[2020-01-11 15:56] #102 closed

[2020-01-13 19:34] xrendan commented on #106
I have the same issue.

The root cause is that the CLI does not display times with timezones properly. By default creating the task on the app or webapp it defaults to a floating timezone (i.e due the same time across timezones).

The time is stored and cached properly by the CLI but doesn't seem to displayed properly. If I've got time over the next couple days I'll see if I can submit a PR. Go is

[2020-01-16 08:01] sherry-ummen opened #112 "todoist list"
➜  ~ todoist list
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x58 pc=0x143112c]

goroutine 1 [running]:
main.List.func1(0x0, 0x0)
	/private/tmp/todoist-20200116-87090-1lu0d0c/todoist-0.14.0/src/github.com/sachaos/todoist/list.go:40 +0xfc
main.traverseItems(0x0, 0xc000140f30, 0x0)
	/private/tmp/todoist-20200116-87090

[2020-01-16 08:01] sherry-ummen commented on #112
Please ask if you need more details

[2020-01-21 01:54] nicksettoon opened #113 "No way to add/remove projects"
I've written a set of functions to wrap the use of this program today in easy aliases. It allows for selecting and bulk deleting of multiple tasks, printing just tasks within a certain project, easily adding tasks by just their string and prompting for the desired project to store them in.
All I'm missing is the ability to create and delete projects, which is not a feature as far as I can tell.
I

[2020-01-21 23:35] tthansel commented on #112
Same error on Manjaro, appears to have been remedied by calling `todoist sync` first, so it looks like an error associated with trying to print something that isn't there.

[2020-01-24 12:04] thomasfedb commented on #107
@sachaos, was hoping to hear back on this so I can move forward on packaging for Fedora.

[2020-02-07 11:02] sepehrHosseini commented on #112
Also have this issue on my Mac, and running `todoist sync` resolved the issue.
Obviously it's better to run this command automatically rather than throwing error.

[2020-02-13 19:23] nirvanadev commented on #108
I agree, this would be most helpful. Thanks

[2020-02-18 17:45] #106 closed

[2020-03-07 03:58] icymind commented on #112
same here.
run todoist sync to fix

[2020-03-19 08:47] sherry-ummen commented on #112
I ran todoist sync and then rand todoist list , same issue. So the workaround did not work for me. Any other workaround?

[2020-03-19 21:41] sherry-ummen commented on #112
so master version does not have this issue, I just built the code myself and using that

[2020-03-24 21:13] pniedzwiedzinski opened #118 "Move cache to .cache"
Hey!
Thanks for this project I really enjoy using it. :heart:

I think that it might be a good idea to move `~/.todoist.cache.json` to `~/.cache/todoist/cache.json`. The cache directory in home is pretty standard so why don't use it.

I would be happy to contribute on this

[2020-03-26 21:35] pniedzwiedzinski commented on #109
I reproduced it in docker with `ubuntu:19:10` image. It's strange because when I cloned the repo and run `go build` it works. It looks like the problem is with `go get`.

[2020-04-01 14:16] Port2 opened #122 "Support add task to project by (fuzzy*) name instead of ProjectID"
Now:

[code]

Wants:
[code]

[2020-04-03 09:27] MarcoDiFrancesco commented on #118
I'd also move `~/.todoist.config.json` to `~/.config/todoist/config.json`

[2020-04-05 09:56] grational commented on #122
This functionality is already accomplished by delegating the task of fuzzy _translating_ the names to ids to [peco](https://github.com/peco/peco) or [fzf](https://github.com/junegunn/fzf) as shown in the main readme:

 ![readme](https://cloud.githubusercontent.com/assets/6121271/19836528/6ed99956-9ee6-11e6-85b0-7539393d803b.gif)

[2020-04-05 10:39] grational opened #123 "Add functionality to postpone recurring tasks"
Hi @sachaos,

first of all, I want to thank you for the time spent developing such a command-line tool which has the potential to make me replace the annoying web interface with a more productive CLI-workflow.

One issue I have noticed, which is quite annoying, is the missing functionality to _postpone_ a recurring task.

On the web application, you can just _postpone_ an _every Sunday_ recurring

[2020-04-08 16:59] pniedzwiedzinski commented on #23
I'd be happy to implement this. I've accomplished cache home in #119 so this should be pretty the same.

[2020-04-15 14:26] pniedzwiedzinski commented on #122
Problem with this is that todoist allows to create two projects with the same name.

[2020-04-24 05:27] reneatzi opened #126 "Use tab completion instead of peco / fzf"
What is the idea behind the fzf / peco script and the custom key bindings? Do I need to remember them to complete my command?

I think it would be easier to use the conventional tab completion scripts for zsh / bash / fish to auto complete the options / command.
E.g.: https://mads-hartmann.com/2017/08/06/writing-zsh-completion-scripts.html

For example, if I press tab after `todoist ` it would lis

[2020-04-24 05:30] reneatzi commented on #105
This would be an important change! I am not the owner of the project, but I would like to see this PR too.

[2020-05-09 17:48] yegarti opened #127 "todoist list with --color and --header issue"
Hi,

When listing using the --header and --color options the output header span is not matched to the results:
![image](https://user-images.githubusercontent.com/9769019/81481050-0c459f00-9236-11ea-9a94-a92cdf5d9928.png)

Using just --header it's working great.
I'm using version 0.15.0 installed from AUR.

Thanks.

[2020-06-01 10:25] kristijanhusak opened #130 "[Feature request] JSON output"
Hi,

is there a chance to add a JSON output format?

I want to create plugin for vim that would use this, but I cannot reliably parse csv. JSON would be super helpful.

[2020-06-01 10:34] sachaos commented on #130
@kristijanhusak Yes. I think it is good feature.
Can you make the PR?

[2020-06-01 10:35] kristijanhusak commented on #130
Yeah I can try to make it. Don't have much go experience.

[2020-06-01 10:37] sachaos commented on #130
@kristijanhusak Thank you!
If I can get a PR, I'll merge it.

[2020-06-01 11:12] kristijanhusak commented on #130
@sachaos It's a bit tricky to introduce json format because I don't know the property names. Writer gets only array of strings. I think this would require a bit of rewriting of other parts to send all data to the writer.
Do you maybe know a simpler solution?

[2020-06-01 20:43] #130 closed

[2020-06-05 18:29] xmha97 opened #131 "Chocolatey"
Hello,
I want to install [Todoist-CLI](https://github.com/sachaos/todoist) on Windows 10.
Please add this project to [Chocolatey](https://chocolatey.org/).
Chocolatey is a package manager for Windows.
Thanks.

[2020-06-06 08:20] sachaos commented on #131
@xmha97 I think it is very good. But sorry, I don't have a Windows machine. 😢
It is great If you can register this package to the project.

I think the documentation is https://chocolatey.org/docs/create-packages .

[2020-06-06 11:57] #131 closed

[2020-06-06 11:58] xmha97 commented on #131
Okay, I closed this issue, but I'll do it.

[2020-06-18 23:51] anwar3606 opened #132 "Create task with indent"
How to create a task inside of another task?

On Todoist web app there are several ways.  But I couldn't figure out any ways to do it in cli.

I tried with -P and -N, none of them works.

[2020-07-03 08:22] bowiechen opened #134 "Make quick add support inline parsing"
It seems the difference between `add` (`a`) and `quick` (`q`) is that the former supports a bunch of parameters like `--priority` and `--project-name` but the latter doesn't.

I think we could make `q` more helpful if we could implement a couple lightweight metadata parsing for specical todoist flags, the list as follows:

- [ ] **Priority** can be expressed using `pN` or `!!N`, where `N` is the p

[2020-07-16 06:29] bowiechen commented on #134
After reading the code a bit more, I realized that my ask already work! The following have created expected tasks:
`todoist q '#Personal tmr 9am p3 q test'`
`todoist q '#Personal tmr 9am !!3 q test'`

Note that due to `#` and `!` being special characters in `bash`, user must enclose the string in quotes or manually escape the special characters.

cc @nick96 seems like #121 isn't necessary! =)

[2020-07-16 06:29] #134 closed

[2020-07-21 18:46] #23 closed

[2020-07-21 18:46] #118 closed

[2020-08-31 12:36] kennonb opened #137 "Using completed parameters?"
I'm sure I'm missing something completely obvious, but is it possible to make use of these API parameters when pulling the list of completed tasks?

https://developer.todoist.com/sync/v8/#get-all-completed-items

Ideally, I'd like to be able to run something like `completed/get_all?limit=100&since=2020-8-15T00:00&project=PROJECT_ID`

Thanks! 😊

[2020-10-09 07:52] wleoncio opened #138 "Handling subtasks"
Does todoist-cli handle subtasks? From what I can tell, when I add such tasks through the official GUI they appear at the same level as their parents on the CLI. Is there a way to filter out subtasks from a query? Moreover, I can't see a way to add subtasks on the CLI.

Thank you for making this tool, BTW, it's very useful for those of us who spend a lot of time on the command line.

[2020-10-12 18:23] jaredmo opened #141 "Add documentation on peco autocompletion"
I'm not following how to setup peco from the README. Seems like there are some knowledge assumptions or gaps in the documentation.

[2020-10-20 14:00] bytrangle opened #142 "Unable to filter tasks by project when the project name contains multiple-words"
For example, I have two projects: Blogging and Build a CLI app.
If I want to retrieve tasks belong to the Blogging project, I can run this command with no problem:
`todoist l --filter '#Blogging'`
However, the same syntax for retrieving tasks from the Build a Cli app fails:
`todoist l --filter '#Build a Cli app`
It throws an error: `Filter error: syntax error
For proper filter syntax see https://s

[2020-10-27 10:20] bytrangle commented on #141
Assuming that you installed this app with Homebrew, switch to Zshell if you haven't. You need zshell for it to work.
In your command line, simply run
`source $(brew --prefix)/share/zsh/site-functions/_todoist_peco` to enable peco for the app

Then try a command like `todoist l` to get all your tasks. Then type `Ctrl + x` to activate Peco, followed by `t t` to select task.

[2020-10-27 14:53] #141 closed

[2020-11-03 19:25] davidgasquez commented on #105
Curious about the plans for this issue. Would love to have both `sachaos/todoist` and `KryDos/todoist-linux` installed locally!

[2020-11-04 20:18] astrochun commented on #138
I have not used Todoist CLI, but agreed that subtask is something I use often through the Web UI.

[2020-12-30 21:16] elipavlov commented on #142
This is not solution, but to me works following, spell only first word of the project's name:

[code]

Todoist docs says nothing about space character in the project names:
https://todoist.com/help/articles/filters

[2020-12-31 08:39] ddeimeke opened #144 "Feature Request: Please provide an export/import feature"
It would be nice to have an export/import feature which includes all tasks with all comments and attachments.

[2021-01-04 22:10] elipavlov commented on #144
I'm not sure what you want to get.

There is an official way to do import with a CSV file.
https://todoist.com/help/articles/how-to-format-your-csv-file-so-you-can-import-it-into-todoist

Also, there is a export feature:
https://todoist.com/help/articles/importing-or-exporting-project-templates

[2021-01-12 17:52] rpallred opened #145 "README lists incorrect location of Config file"
In READE.md the config location is listed as:

`$HOME/.config/todoist/config.json`

it is actually located at:

`$HOME/.config.todoist.json`

as documented in Dockerfile.

Discovered this when I pasted an invalid value into the API key on first run and couldn't find the config file to correct it.

[2021-02-03 19:41] sachaos opened #147 "Test is failing"
[code]

[2021-02-03 19:43] sachaos opened #148 "Test & release by GitHub Action"

[2021-02-04 23:17] rodweb opened #149 "make docker-run asks for api token on every call"
Cloned today (2021/02/04) and followed README instructions.
I think the config file is misplaced inside the docker image (home instead of XDG location).
Couldn't fix and build it myself because I'm lacking experience with go ecosystem.

[2021-02-05 01:23] #149 closed

[2021-02-05 01:24] sachaos commented on #149
I fixed it https://github.com/sachaos/todoist/pull/150

[2021-02-05 01:28] sachaos commented on #145
I fixed this problem by #150

[2021-02-05 01:28] #145 closed

[2021-02-06 10:34] rodweb commented on #149
Thanks!

[2021-02-11 23:14] dileep-kishore opened #154 "todoist sync fails to get/update dates for tasks changed using google calendar integration"
What I did:

[code]

I am not entirely sure the issue is because of the google calendar integration but from my observations, any tasks whose due time was changed in the calendar does not have any assigned due date when I run `todoist list` (It works fine with todoist web and mobile apps). Do you have any idea what might be happening?

[2021-02-16 18:12] Parasrah opened #155 "Filter by section"
One of the official filters per [this](https://todoist.com/help/articles/introduction-to-filters) seems to be filtering by section via `/Section`, which I thought would work via the filter flag for things such as:

`todoist l -f '/Section'` or `todoist l -f '#Project/Section'`

Both result in `Filter error: syntax error`

[2021-02-25 15:06] jansendotsh opened #157 "Docker container unable to print tasks from parent OS"
Hey there! First off, I love the tool. Your work is super appreciated.

As for the issue being reported, running the Docker container with commands reports that there are no tasks. If I run an interactive shell inside the container, those tasks are available (i.e. `make docker-run` in the directory). An example of the output observed is shared below with a stock Docker image built with `make docke

[2021-03-04 21:47] jeremymeyers opened #158 "Quick fix: Windows version of release should have a .exe extension"
(otherwise windows doesn't know what to do with it)

[2021-03-04 23:50] jeremymeyers opened #159 "Use "quick add" format for new tasks"
A way to add labels using "@label1 @label2 @label3" rather than "-l label1,label2,label3" would be great

[2021-03-14 19:43] kenliu commented on #113
looks like this issue can be closed

[2021-03-16 22:03] eugeneware commented on #142
I've also having this issue. In my case my project is '#Machine Learning' but it throws a syntax error. Is this an API issue, or how the filtering is implemented in the golang code?

[2021-03-18 09:46] bytrangle commented on #142
@eugeneware : IIRC this is a Todoist API issue. In case you don't have another project that contains the word **Machine**, you can filter for your **Machine Learning** project with the first word only. Example:
[code]

[2021-03-18 21:34] eugeneware commented on #142
Thanks @bytrangle - I didn't realise it was a raw API issue, I saw a query parser in the source code and thought it might be due to the local logic in this tool. I'll use that as a work around for now. Thanks.

[2021-03-20 11:27] andreoliwa commented on #130
I started something very raw here: https://github.com/sachaos/todoist/pull/160
Please let me know if I'm on the right path. 🙂

[2021-03-26 16:33] andreoliwa commented on #126
Hi @reneatzi, I think tab completion is working for Bash since #133.
But it's using `fzf` underneath, to display the key/value pairs you mentioned

And you need to install the completions manually, `brew install` is not doing it.
Do something like this on macOS:

[code]

Open a new terminal and it should work.

As I mentioned on #133:

I hope this helps.

[2021-03-26 18:59] andreoliwa opened #161 "Tasks without section sometimes still display a section on the `list` command"
Hi!

There are tasks without a section that still display a section when I use the `list` command.

This bug doesn't happen with all tasks.
Steps to reproduce:

1. Create a new project called "Example".
2. Add a task called "Some task" without a section.
3. Run `todoist sync && todoist list -f '#example'`: the project shows as `#Example`. ✅
3. Create a new section called "My Section".
4. Move "Som

[2021-03-27 16:41] andreoliwa commented on #161
I found out that removing the local cache is a temporary solution for this problem:

[code]

So maybe it's something related to loading or saving empty/null sections in the cache. 🤔

[2021-03-31 12:44] dwrdx commented on #161
Yes, you are right about that, It's bug happened  when there are null sections. Pull request  #162 is to solve this issue.

[2021-04-16 12:19] rollecode opened #164 "Filter: assigned to:me"
Noticed exactly the same filter than I use in Todoist doesn't work on command line.

[code]

Filter in question:
[code]

[2021-05-30 18:35] squarepegsys commented on #112
I have a simliar error on mac, but it also happens when I sync. Just compiled fresh from master:

[code]

[code]

[2021-05-31 01:17] #142 closed

[2021-06-02 16:51] bytrangle commented on #113
How does one add a project? I see a command `add-project` in the `main.go` file, but when I run it, I got “No help topic for 'add-project'”.

[2021-06-02 17:19] bytrangle commented on #134
Thanks for the tips, but this won't work if a project name contains multiple words, right?

[2021-08-31 20:42] squiter opened #165 "Can't configure Token on NixOS"
Hey folks, I can't configure the cli to use the Token when using in NixOS.

I created the config file with my token:

[code]

And when I run the `sync` command I can see that my token isn't setted up correctly:

[code]

It seems the cli isn't check in the default directory :thinking:

Can you help me to figure out what I did wrong?

[2021-09-03 03:17] timtraversy commented on #165
Hey - I hit the same issue on NixOS. After grepping, I found the config file under `~/.todoist.config.json`, instead of what the README indicates. I can't tell exactly why this happens from the source code, but I hope this helps.

[2021-09-03 20:17] #165 closed

[2021-09-13 18:49] joshtemple opened #167 "Config location in README is incorrect"
The README says:

[code]

However, on MacOS, my config is in `$HOME/.todoist.config.json`, which was really confusing to debug since there's no way from the CLI to reset the API token.

[2021-09-15 09:15] dwainm opened #168 "Feature request: completed list flag to include description"
When running `todoist cl` the screen shows the task name. I'd like to be able to include the description in this list with a new flag.

The 'show command' is more what I'm after but for some reason that doesn't work so I was unable to test and see if this would also include completed items.

I'm proposing a new tag for the cl command:

`todoist cl --show-description` which could be expanded to inc

[2021-09-21 18:25] TRNEEDANAME opened #169 "Options to change the time (YY/MM/DD) to the user's choices ?"

[2021-10-12 01:23] HacDan commented on #169
@TRENEEDNAMME You can change the date format on lines 34 and 35 of the main.go file.
https://github.com/sachaos/todoist/blob/45738fbdcbf5eb06face0640120b4ad4b46a3be7/main.go#L34-L35

And a bit more information on `time.Time`'s [Format()](https://pkg.go.dev/time#Time.Format).

[2021-11-16 18:03] haydonryan commented on #138
Huge +1 for subtasks.  Being able to add a detailed list of subtasks would be amazing and super useful for creating templates of structured tasks.

[2021-11-28 00:36] sagikazarmark commented on #165
Is there a reason why the config file has to be in the home directory on NixOS?

[2021-11-28 00:44] sagikazarmark commented on #165
Oh, I guess because #23 was implemented in July 2020, whereas the latest release is from January 2020.

@sachaos do you think you could tag a new release?

[2021-11-28 04:56] sachaos commented on #165
@sagikazarmark Thank you remind me. I've released v0.16.0 https://github.com/sachaos/todoist/releases/tag/v0.16.0

[2021-11-28 10:11] sagikazarmark commented on #165
@sachaos Thanks!

Although it doesn't affect functionality, but the version was not updated: https://github.com/sachaos/todoist/blob/master/main.go#L46

Maybe it would make sense to inject that during the release process using ldflags?

[2021-11-29 22:19] fgimian commented on #169
Yes please, I found the date format used by the tool a bit odd.

For example, instead of;

[code]

I would much rather see

[code]

I think the year is especially troublesome, would really love that to be YYYY.

Thanks so much for this awesome tool!
Fotis

[2021-11-29 22:21] fgimian commented on #158
I immediately thought about this too while grabbing the tool today.

[2021-12-07 22:16] bladecoates opened #171 "Output as markdown"
Would it be possible to get a flag to output the data in a markdown task format. This would allow for easier copying to other tools. For instance I use obsidian, which supports markdown, for work and personal notes, meetings, task/project tracking.

[code]

[2021-12-16 14:24] nicksettoon commented on #113
closing cause requested.

[2021-12-16 14:24] #113 closed

[2021-12-23 07:01] stonecharioteer opened #173 "Create Labels"
Hi, thank you so much for this tool. As someone who lives in the CLI, this is perfect. Is there a way to implement creation of labels through the CLI? [The API supports it](https://developer.todoist.com/rest/v1/#get-all-labels)

Is this planned or if required, I can have a crack at it myself.

[2022-01-14 12:07] AleCandido opened #174 "Color always"
Add `--color=always` option (or settings), in order to be able to pipe colors in pagers.

At the moment, if the output is redirected, colors are stripped.

[2022-01-26 19:54] rshadown opened #176 "Using docker gives error: panic: runtime error: invalid memory address or nil pointer dereference"
Hello,

I followed the docker steps outlined here: https://github.com/sachaos/todoist#docker

Then when I try to run any todoist command (like `todoist` or `todoist sync`) I get the following error:

![image](https://user-images.githubusercontent.com/8664004/151236482-843d2072-8c12-485f-b974-d068a5a2caa4.png)

[2022-02-28 08:14] MHolkamp opened #177 "compile: version "go1.17.7" does not match go tool version "go1.13.8""
Need some help here.
How to solve this issue?

[2022-02-28 08:59] MHolkamp commented on #177
SOLVED

[2022-02-28 08:59] #177 closed

[2022-03-02 22:06] ChildishhAlbino opened #178 "Ability to specify section when adding task to a project"
Currently, adding a task to a project leaves it under `No Section` - this is kinda annoying to move manually. I've tried doing the `<ProjectName>/<SectionName>` but that doesn't seem to work.

Any chance this could be added?

[2022-03-29 14:23] ytflix1 opened #179 "colons cause filter syntax error"
When including a `:` in a filter query, it fails.

[code]

e.g.:
[code]
- the colon in the `@:errands` by itself triggers this
- the colon in the `!p:Not Now` does too

[2022-04-26 18:53] HacDan commented on #169
Solved in Pull Request: #181

Feel free to cherry-pick and let me know how it goes. No reason to recompile the binary to change this option anymore.

[2022-04-26 19:51] HacDan commented on #174
What are you piping in to? `less`? I would assume that `less` is stripping the color, although with my minimal testing and very minimal knowledge of the inner workings of `less` I'm not able to get `less -R` or `less -r` to work on MacOS

[2022-04-26 20:02] AleCandido commented on #174
On Ubuntu (but I guess on any Linux distro) this works wonderfully:
[code]
(just used [`exa`](https://the.exa.website/) since `ls` was the simplest thing came in my mind, but too simple to enforce colors).

[2022-04-26 20:46] HacDan commented on #174
Using [lsd](https://github.com/Peltoche/lsd)`--color=always` I was able to confirm that on MacOS using `less -R` (or `less -r` for that matter)  keeps colors in tact. I'll look into what was used for formatting output to see if this is possible. I would think it is but I'm obviously not the author, just an enthusiast who likes fiddling with Go.

[2022-06-02 00:24] HacDan commented on #15
Looks like this can be closed as it was resolved in #58?

[2022-06-20 14:23] dwainm opened #182 "Allow raw text to be extracted"
When listing the completed tasks, it will be helpful to expand the URL links. My suggestion is a raw option that extract the text as it would appear in the edit window.

[2022-06-24 08:37] OleMussmann opened #183 "Name "todoist" clashes with official client"
This todoist cli interface has the same name as the official client from the snap store https://snapcraft.io/todoist You can't use both clients at the same time by default. I can symlink the cli interface to a handy shortcut like `t`, but the todoist command is _hardcoded_ in all helper files, so they will break.

OS: Ubuntu 18.04

[2022-06-24 08:40] OleMussmann opened #184 "Bindkeys command for filtering only work in emacs mode"
If your shell uses vi mode (`bindkeys -v`), the `<C-x>` keybinds do not work. It might be handy to mention that in the README.md.

By the way, are there ways to make the selecting shortcuts work in vi mode?

[2022-06-24 13:32] TorgeirHeim opened #185 "Include description when adding task"
It should be possible to include a description when adding a task, e.g with a --description option.

[2022-06-30 18:54] seqizz opened #186 "Symlink issue for config file"
Hi :wave:

First of all, thanks for this tool!

I wanted to define the config file under my nixos system via home-manager, which puts the config file under /nix/store (world-readable) and creates a symlink for config.json in the home folder.

Which, as you can guess, fails with:
[code]
which is not possible in this context. Can we set a "I know what I am doing"-style environment variable to skip t

[2022-07-08 15:03] robinsrk opened #187 "can't find the binary to start the program in terminal"
I have installed the package from aur in arch linux. but can't execute the program as can't find the binary in system after installing. command "todoist" shows not found.

[2022-07-18 16:20] angelod1as opened #189 "Config file location on Mac + add --config flag"
## System:

- zsh
- macOs Monterey 12.4
- iTerm2

## Expected:

- The path `~/.config/todoist/config.json` to be read and interpreted by the `todoist` package.
- The `.json` file below applying colors every time the `todoist l` command is called

[code]

## Result:

- The `todoist l` command isn't called with color (also tried with `header` and `indent`)

## Hypothesis:

- The `config` file is not

[2022-07-26 15:57] duckpuppy commented on #47
I just saw that myself - I had 3 open tasks, closed 1, and all 3 are gone. Unfortunately, I am also not a premium subscriber so I can't see the completed tasks.

[2022-08-02 09:16] nabaco commented on #15
Keyword search would be really helpful. Any chance to implement it?

[2022-08-02 10:10] 0atman commented on #15
please make another issue regarding this

[2022-08-02 17:44] nabaco opened #191 "Add keyword search in filter option"
The official Todoist documentation talks about the ability to use a filter with a free text search of keywords, as can be seen here: https://todoist.com/help/articles/introduction-to-filters#filtering-based-on-keywords.
I'd like to have the same supported in the CLI. E.g:
[code]
If one needs to search for a specific task, fzf/peco integration works quite fine. But for scripting, or predefined filt

[2022-08-02 17:45] nabaco commented on #15
opened #191

[2022-08-09 14:05] tammersaleh commented on #186
I'm hitting this issue as well.  I like the intention of this check, but I think it might be more trouble than it's worth.  Nowadays, very few of us work in multi-user environments, and an intruder getting access to our Todoist keys isn't as crazy-bad as getting access to our private SSH keys.

(I use SSH as an example since it's the only other tool I know of that enforces key file permissions lik

[2022-08-09 14:13] tammersaleh commented on #112
I also get this on `sync`:

[code]

[2022-08-12 19:45] seqizz commented on #186
I'm closing this since:
- Looks like it's not an active repo
- I am already writing [my own client](https://git.gurkan.in/gurkan/sakla) right now
Thanks anyway :wave:

[2022-08-12 19:45] #186 closed

[2022-09-02 15:31] HacDan commented on #189
Hey Angelo,

How did you install Todoist-CLI? I presume via Brew, correct? If you install from source, this issue has been resolved

[2022-09-05 07:57] angelod1as commented on #189
Yes, via Brew.

I'm not a Go user and don't have $GOPATH setup. Building from build didn't work without $GOPATH. I hope this gets fixed in Brew as well.

[2022-09-05 07:57] #189 closed

[2022-09-12 18:58] Araly opened #192 "panic when running sync"
I installed https://aur.archlinux.org/packages/todoist, gave it my API key, and ran `sync`, but it failed with a panic

It seems like it's trying to use the files in the yay cache, which really sounds like they shouldn't. I tried clearing out the cache but I still get the same error.

[code]

[2022-09-25 22:40] hasnolen opened #193 "Feature Request: Show project comments"
Suggested API:
[code]
Would show the comments added at project-level here ↓  in a third column.
<img width="623" alt="image" src="https://user-images.githubusercontent.com/95154022/192168741-96ef47f6-1859-47d2-aa67-b47ed783fcff.png">

[2022-10-19 00:10] pataquets opened #194 "Glibc version error"
`todoist` downloaded from releases page, amd64.
When running `todoist`:
[code]
I'm on Ubuntu Bionic, so I guess it's a `libc` issue with my OS.
As a workaround, I think that building against `musl` would work. I've seen it done elsewhere.

[2022-10-19 00:11] pataquets commented on #148
Potentially related: #194

[2022-11-14 17:04] vikmind opened #196 "Migrate to API v9"
Todoist is planning to remove APIv8 on [Nov 30](https://developer.todoist.com/sync/v8#overview), any plans to migrate?

[2022-11-14 22:59] sachaos commented on #196
@vikmind Thank you. I didn't know that.
There is no plan to migrate to v9 now.

[2022-11-16 22:30] bagrounds commented on #192
Same.
[code]

[code]

[code]
[code]

[code]
[code]

[2022-11-17 18:29] joshterrill commented on #192
Do any of the release binaries work for you? https://github.com/sachaos/todoist/releases

I have a MacOS as well, and downloaded my binary from the link above, renamed it, marked it executable, and threw it into my /usr/local/bin directory and all was good.

[2022-11-23 18:07] Araly commented on #192
I get the exact same issue with this new binary

[2022-11-26 11:52] kittivelae opened #197 "Is this project still maintained/actively being developed?"
If so, are PR's welcome?

Thanks

[2022-11-26 14:04] sachaos commented on #197
@kittivelae Hi. I'm owner.

I haven't been able to do maintenance because I don't have much time to do maintenance. Also, I don't use it myself now, so I don't have much motivation. If there is someone who would like to maintain it, I would like to welcome it as a member of the repository.

We accept PRs for critical issues such as: https://github.com/sachaos/todoist/labels/help%20wanted